*{

     margin: 0px;
     padding: 0px;

}

body{

	 background: url(../img/bg.jpeg);
	 background-size: cover;
	 font-family: 'Roboto', sans-serif;

}

.container{
	
     text-align: center;

}

h2{
	 color: #D1140D;

}

.login-section{

	 width: 500px;
     margin: 365px auto;
     padding: 50px;
     text-align: center;
     background: rgba(255,255,255,.3);
     border-radius: 10px;

}

.form-control{

     width: 100%;
     height: 33px;
     margin: 0 auto;
     border: none;
     border-bottom: 2px solid #070001;
     font-size: 16px;
     outline: none;
     margin-bottom: 30px;
     background: transparent

}

.btn{

     color: #fff;
     border-radius: 52px;
     padding: 17px 83px;
     background: #D1140D;
     border: none;
     outline: none;
     font-size: 18px;
     transition: 0.8s;
}

input.btn:hover {

    background: black;
}    

img{

     width: 100px;  

}
a{

     color: black;
     margin: 12px auto;
     font-size:14px;
 
}